# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs and temporary files
*.log
*.tmp

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
